<div class="container">
  <h1><%= @user.name %></h1>
  <p><%= @user.profile %></p>
  <% if @user.avatar.attached? %>
   <%= image_tag @user.avatar, class: "avatar-image rounded-circle overflow-hidden", style: "object-fit: cover; width: 150px; height: 150px;" %>
  <% end %>
  <% if @user == current_user %>
    <div class="edit-link">
      <%= link_to "ユーザ情報を編集", edit_user_registration_path, class: "edit-link btn btn-primary" %>
    </div>
  <% end %>
  <h2>ブックマークした店舗</h2>
  <% if @user.bookmarks.present? %>
    <ul>
      <% @user.bookmarks.each do |bookmark| %>
        <li><%= link_to bookmark.shop.name, shop_path(bookmark.shop) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>まだブックマークした店舗がありません。</p>
  <% end %>
</div>
